<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-amqp="http://www.springframework.org/schema/integration/amqp"
       xmlns:int-ip="http://www.springframework.org/schema/integration/ip"
       xsi:schemaLocation="http://www.springframework.org/schema/integration/amqp
                            http://www.springframework.org/schema/integration/amqp/spring-integration-amqp.xsd
                            http://www.springframework.org/schema/integration/ip
                            http://www.springframework.org/schema/integration/ip/spring-integration-ip.xsd
                            http://www.springframework.org/schema/integration
                            http://www.springframework.org/schema/integration/spring-integration.xsd
                            http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--        From TCP To RabbitMQ        -->

    <int-ip:tcp-connection-factory id="server"
                                   type="server"
                                   port="${app.lucas.inbound.tcp.port}"/>

    <int-ip:tcp-inbound-channel-adapter channel="toRabbit"
                                        auto-startup="true"
                                        connection-factory="server"/>

    <int:channel id="toRabbit">
        <int:interceptors>
            <int:wire-tap channel="loggingChannel"/>
        </int:interceptors>
    </int:channel>

    <int:logging-channel-adapter id="loggingChannel"
                                 log-full-message="true"
                                 level="DEBUG"/>

    <int-amqp:outbound-channel-adapter channel="toRabbit"
                                       amqp-template="amqpTemplate"
                                       exchange-name="${app.lucas.exchange}"
                                       routing-key="${app.lucas.binding}"/>

    <int-amqp:inbound-channel-adapter channel="fromRabbit"
                                      queue-names="${app.lucas.queue}"
                                      connection-factory="connectionFactory"/>

</beans>
