<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns='http://www.springframework.org/schema/beans'
       xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
       xmlns:p='http://www.springframework.org/schema/p'
       xmlns:int='http://www.springframework.org/schema/integration'
       xsi:schemaLocation='http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/integration
                            http://www.springframework.org/schema/integration/spring-integration.xsd'>

    <int:channel id='inputChannel'>

    </int:channel>

    <int:channel id='outputChannel'>
        <int:queue capacity='10'/>
    </int:channel>

    <int:service-activator input-channel='inputChannel'
                           output-channel='outputChannel'
                           ref='helloService'
                           method='greet'/>

    <bean id="helloService" class="com.adarsh.spring.integration.HelloWorld"/>

    <int:gateway service-interface="com.adarsh.spring.integration.Greetings"
                 default-request-channel="inputChannel"
                 default-reply-channel="outputChannel"/>

</beans>