<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-amqp="http://www.springframework.org/schema/integration/amqp"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:int-ip="http://www.springframework.org/schema/integration/ip"
       xsi:schemaLocation="http://www.springframework.org/schema/integration/amqp
                            http://www.springframework.org/schema/integration/amqp/spring-integration-amqp.xsd
                            http://www.springframework.org/schema/integration/ip
                            http://www.springframework.org/schema/integration/ip/spring-integration-ip.xsd
                            http://www.springframework.org/schema/integration
                            http://www.springframework.org/schema/integration/spring-integration.xsd
                            http://www.springframework.org/schema/rabbit
                            http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
                            http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--        From TCP To RabbitMQ        -->
    <int-ip:tcp-connection-factory id="server"
                                   type="server"
                                   port="${app.lucas.inbound.tcp.port}"/>

    <int-ip:tcp-inbound-channel-adapter channel="toRabbit"
                                        connection-factory="server"/>

    <int:channel id="toRabbit">
        <int:interceptors>
            <int:wire-tap channel="loggingChannel"/>
        </int:interceptors>
    </int:channel>

    <int:logging-channel-adapter id="loggingChannel"
                                 log-full-message="true"
                                 level="DEBUG"/>

    <int-amqp:outbound-channel-adapter channel="toRabbit"
                                       amqp-template="rabbitTemplate"
                                       exchange-name="${app.lucas.exchange}"
                                       routing-key="${app.lucas.binding}"/>

    <int-amqp:inbound-channel-adapter channel="fromRabbit"
                                      queue-names="${app.lucas.queue}"
                                      connection-factory="connectionFactory"/>


    <!--      From RabbitMQ to TCP        -->
    <int:channel id="fromRabbit">
        <int:interceptors>
            <int:wire-tap channel="loggingChannel"/>
        </int:interceptors>
    </int:channel>

    <int-ip:tcp-connection-factory id="client"
                                   type="client"
                                   host="${app.lucas.tcp.host}"
                                   port="${app.lucas.outbound.tcp.port}"
                                   single-use="true"/>

    <int-ip:tcp-outbound-channel-adapter channel="fromRabbit"
                                         connection-factory="client"/>

    <rabbit:connection-factory id="connectionFactory"
                               host="${app.lucas.mq.host}"
                               port="${app.lucas.amqp.port}"
                               username="${app.lucas.mq.username}"
                               password="${app.lucas.mq.pwd}"/>

    <rabbit:template id="rabbitTemplate"
                     queue="${app.lucas.queue}"
                     exchange="${app.lucas.exchange}"
                     connection-factory="connectionFactory"/>

    <rabbit:admin auto-startup="true"
                  connection-factory="connectionFactory"/>


    <rabbit:queue name="${app.lucas.queue}"
                  auto-delete="false"
                  durable="true"/>

    <rabbit:direct-exchange name="${app.lucas.exchange}">
        <rabbit:bindings>
            <rabbit:binding queue="${app.lucas.queue}"
                            key="${app.lucas.binding}"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

<!--

    link1 http://docs.spring.io/spring-integration/reference/html/amqp.html
    link2 http://docs.spring.io/spring-amqp/reference/html/spring-integration-amqp.html#d4e1313

   <int-amqp:inbound-channel-adapter channel="fromRabbit"
		                             queue-names="${app.lucas.queue}"
		                             connection-factory="connectionFactory" />

    <int-amqp:outbound-channel-adapter	channel="toRabbit"
                                        amqp-template="rabbitTemplate"
                                        exchange-name="${app.lucas.exchange}"
		                                routing-key="${app.lucas.binding}" />
-->

</beans>
