<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:int-ip="http://www.springframework.org/schema/integration/ip"
       xsi:schemaLocation=" http://www.springframework.org/schema/integration/ip
                            http://www.springframework.org/schema/integration/ip/spring-integration-ip.xsd
                            http://www.springframework.org/schema/integration
                            http://www.springframework.org/schema/integration/spring-integration.xsd
                            http://www.springframework.org/schema/rabbit
                            http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
                            http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--      From RabbitMQ to TCP        -->
    <int:channel id="fromRabbit">
        <int:interceptors>
            <int:wire-tap channel="loggingChannel"/>
        </int:interceptors>
    </int:channel>

    <int-ip:tcp-connection-factory id="client"
                                   type="client"
                                   host="${app.lucas.host}"
                                   port="${app.lucas.outbound.tcp.port}"
                                   single-use="true"/>

    <int-ip:tcp-outbound-channel-adapter channel="fromRabbit"
                                         connection-factory="client"/>

    <rabbit:connection-factory id="connectionFactory"
                               host="${app.lucas.host}"
                               port="${app.lucas.amqp.port}"
                               username="${app.lucas.username}"
                               password="${app.lucas.pwd}"/>

    <rabbit:template id="amqpTemplate"
                     connection-factory="connectionFactory"/>

    <rabbit:admin connection-factory="connectionFactory"/>

    <rabbit:queue name="${app.lucas.queue}"/>

    <rabbit:direct-exchange name="${app.lucas.exchange}">
        <rabbit:bindings>
            <rabbit:binding queue="${app.lucas.queue}"
                            key="${app.lucas.binding}"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

</beans>
